.homeContainer
{
    display: flex;
}

.homeContainer >div:nth-child(odd)
{
    flex: 0.2;
}

.homeContainer >div:nth-child(even)
{
    flex: 0.6;
}

.homeContainer_leftbar
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    border-right: 1px solid rgb(222,222,222);
}

.sideBarOption
{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 1.2rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s;
}

.sideBarOption:hover{
    transform: scale(1.03);
}
.sideBarOption >svg{
    height: 1.4em;
    min-width: fit-content;
}

.homeContainer_extraContainer
{
    border-left: 1px solid rgb(222,222,222);
    padding-left: 1.2rem;
}
.extraContainer_profile {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin-top: 20px;
    border: 2px solid grey;
    justify-content: center;
    border-radius: 10px;
    height: 90px;
    width: 200px;
    overflow: hidden; 
    padding: 5px; 
}

.profileName {
    font-size: 14px; 
    color: grey;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    max-width: 80px; 
    display: block;
    text-align: center; 
}

.profileImage {
    border-radius: 50%;
    width: 70px; 
    height: 70px;
    object-fit: cover;
    border: 2px solid grey;
}

.mobileNavbarView{
position:fixed;
bottom: 0;
left: 0;
width: 100vw;
height:6vh ;
;
display: flex;
justify-content: space-around;
background: white;
align-items: center;
}

.singleNavItemholder_mobileview{
    cursor: pointer;
}
.mobileNavbarView svg{
    height: 2rem;
    width: 2rem;
}
@media only screen and (max-width:600px) {
    .homeContainer_extraContainer{
        display: none;
    }
    .homeContainer{
        display: block;
    }
    .homeContainer_leftbar{
        display: none;
    }
    .homeContainer_feedContainer
    {
        padding-bottom: 8vh;
    }
}


@media (min-width: 600px) {  
    .mobileNavbarView {
        display: none;
    }
}
